.wpi-g .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
p.quote-front-msg {
    display: inline-block;
}
.wpi-user-quotes a {
    text-decoration: none;
}
.wpi-user-quotes .quote-actions a.btn {
    line-height: normal;
    margin: 0 2.5px;
}