.post-type-wpi_quote #commentsdiv.postbox,
.post-type-wpi_quote #commentstatusdiv.postbox,
.post-type-wpi_quote .subsubsub .mine{display: none !important;}
.post-type-wpi_quote form#post #titlediv [name="post_title"] {cursor: not-allowed;opacity: .75;}
.post-type-wpi_quote form#post #edit-slug-buttons {display: none;}
.wpi-quote-export-form {position: relative;}
#wpinv-submit-wrap [type="submit"] {vertical-align: top;line-height: normal;}
.wpi-quote-export-form .wpi-progress {width: calc(100% - 50px);height: 16px;background-color: #ddd;float: left;position: relative;}
.wpi-quote-export-form .wpi-progress div {background-color: orange;height: 100%;width: 0;display: block;}
.wpi-quote-export-form .wpi-progress > span {position: absolute;height: 100%;width: 100%;display: block;font-size: 13px;line-height: 14px;text-align: center;vertical-align: top;top: 0;}
.wpi-quote-export-form .wpi-msg-wrap {padding: 12px;background-color: #f4f4f4;border-style: solid;border-width: 1px 0;border-color: #eae9e9;overflow: auto;margin: 20px -12px -23px;position: relative;}
.wpi-quote-export-form .wpi-msg-wrap .wpi-export-loader {display: inline-block;float: right;margin: 0;vertical-align: middle;width: 40px;height: 16px;text-align: center;}
.wpi-quote-export-form .wpi-export-loader .fa {font-size: 17px;color: orange;}
.wpi-quote-export-form .wpi-export-loader .fa-spin {color: #000;}